<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->


<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->
<style>
html {
     background-color: #0a0a0a;
}

:root {
    /* see variables.scss for more variables*/
    --cover-text-color: #ececec;
    --cover-title-text-shadow: #0a0a0a 0px 0px 1px;
    --highlight: #cdcdcd;
    --highlight-contrast: #353535;
    --highlight-inverse: #353535;
    --highlight-inverse-contrast: #cdcdcd;
    --section-dark-bg-color: #0a0a0a;
    --section-light-bg-color: #cdcdcd;
    /*
    --section-light-text-color: #3a4145!important;
    --section-light-bg-color: #ffdb8c!important;
    --section-dark-bg-color: #035e00!important;
    */

     /* define list element for unnumbered lists, leave empty for default list element */
     /* fa-asterisk is the default icon if this variable definition is missing completely */
     /* --ul-li-icon: fa-dashcube;     /* this sets fa-dashcube as list icon */
     /* --ul-li-icon: ;                /* this sets the default html list icon */
}

.vertical {
     vertical-align: bottom;
     padding-bottom: 126px;
 }

#site-head a.btn, #site-head.withCenteredImage a.btn  {
     text-transform: none;
     font-family: "Roboto Slab", serif;
     font-weight: 400;
}

#site-head.withCenteredImage {
     background-size: 70%;
     background-color: black;
 }

</style>


<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

{{ with resources.Get "images/apple-touch-icon.png" }}<link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}" />{{ end }}
{{ with resources.Get "images/favicon.svg" }}<link rel="icon" type="image/svg+xml" href="{{ .RelPermalink }}" />{{ end }}
{{ range seq 9 4 }}{{ $size := pow 2 . }}{{ $file := replace "images/favicon-##x##.png" "##" $size }}{{ with resources.Get $file }}
<link rel="icon" type="{{ .MediaType.Type }}" sizes="{{- $size -}}x{{- $size -}}" href="{{ .RelPermalink }}" />{{ end }}{{ end }}
