/* Author: Vitaliano Palmieri Neto */
@import url(fonts/noto.css);

:root {
  color: #fafafa;
  background-color: black;
}

.offset-block {
  height: var(--offset-size);
  pointer-events: none;
}

.container-top-padding {
  padding-top: var(--offset-size);
  pointer-events: none;
}

.container-bottom-margin {
  margin-bottom: calc(-1 * var(--offset-size));
  pointer-events: none;
}